---
layout: front
title: "RUVTuber Space"
---

{% include navigation.html %}
<header class="text-bg-secondary py-5 mb-5">
    <div class="container text-center">
        <h1>{{ site.title }}</h1>
        <p class="lead">{{ site.description }}</p>
    </div>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="lead">Приветствуем на ресурсе проекта, посвященному систематизации открытых данных о русскоговорящих виртуальных ютуберах,<br>
                    а также компьютерному сопровождению деятельности сообщества в&nbsp;информационных, инструментальных и&nbsp;маркетинговых аспектах.</p>
                <p>В настоящий момент ресурс находится в альфа-тесте, поэтому треугольный потолок и косые стены - это временная норма.</p>
                <p>Источником вдохновения для&nbsp;разработки стала легендарная таблица рувтуберов новостного проекта <a href="https://vk.com/vspace_vk" target="_blank">VSpace [Virtual Youtubers]</a>, а&nbsp;также множество качественных миров в&nbsp;VRChat, посвященных виртуальным ютуберам и&nbsp;фандомам.</p>
                <p>Проект является открытым, но&nbsp;следует негласным правилам, установленным в&nbsp;нашем сообществе о&nbsp;внешнего виде, характере контента и&nbsp;этических нормах поведения.</p>
                <p>На&nbsp;текущий момент ресурс находится <em>в&nbsp;самой ранней стадии</em> разработки. По&nbsp;этой причине на&nbsp;нем может не&nbsp;хватать определенных данных, а&nbsp;страницы могут выглядеть не&nbsp;так красиво, как хотелось&nbsp;бы.</p>
                <p>Источником сведений о&nbsp;русскоговорящих виртуальных ютуберах послужила таблица данных, которую собирала <a href="https://vk.com/beckyschwarz" target="_blank">Becky Schwartz</a> для&nbsp;своей <a href="https://vk.com/ruvtubersbs" target="_blank">группы новостей</a>, за&nbsp;что&nbsp;автор выражает безмерную признательность и&nbsp;благодарность.</p>
                <p>Код проекта размещается на&nbsp;GitHub: <a href="https://github.com/paulvonlecter/ruvtuber.space" target="_blank">https://github.com/paulvonlecter/ruvtuber.space</a>.</p>
                <p>Разработчик ресурса уверен в&nbsp;том, что совместными усилиями сообщества можно сделать замечательные общественно-значимые вещи и&nbsp;что данный проект&nbsp;&mdash; тому подтверждение.</p>
            </div>
        </div>
    </div>
    <div class="my-5 py-5 text-bg-success">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="display-1 my-3">Сопровождение</h2>
                </div>
                <div class="col-md-6">
                    <p>Раздел в разработке.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <h2 class="display-1 my-3">Проекты</h2>
            </div>
            <div class="col-md-6 order-md-1">
                <p>Раздел в разработке.</p>
            </div>
        </div>
    </div>
    <div class="my-5 py-5 text-bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="display-1 my-3">Рекомендации</h2>
                </div>
                <div class="col-md-6">
                    <p>Раздел в разработке.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <h2 class="display-1 my-3">В этом разделе тоже что-то пишут</h2>
            </div>
            <div class="col-md-6 order-md-1">
                <p>Раздел в разработке.</p>
            </div>
        </div>
    </div>
</main>
{% include scripts.html %}