<footer class="text-bg-dark mt-5 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>{{ site.title }}</h5>
                <p>{{ site.description }}</p>
            </div>
            <div class="col-md"></div>
        </div>
        <p class="text-center">Исходный код: <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://github.com/paulvonlecter/ruvtuber.space"><i class="fa fa-fw fa-github"></i>ruvtuber.space</a></p>
        <p class="text-center">Made with <i class="fa fa-heart"></i><span class="sr-only">love</span> to community by <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://paulvonlecter.name/">Paul von Lecter</a> in 2023</p>
    </div>
</footer>